<div class="chat-container">
  <div class="chat-messages">
    <div class="grid gap-y-2">
      <!-- chat messages -->
      <app-gpt-message text="Escribe un texto para traducir..."></app-gpt-message>
      <!-- @for (message of messages(); track $index) {
        @if (message.isGpt) {
          <app-gpt-message
          [text]="message.text"
          />
        }@else {
          <app-my-message [text]="message.text" />
        }
      } -->

      <!-- Formato STREAM -->
      @for (message of messages(); track message.text) {
        @if (message.isGpt) {
          <app-gpt-message
          [text]="message.text"
          />
        }@else {
          <app-my-message [text]="message.text" />
        }
      }

      @if (isLoading()) {
        <app-typing-loader />
      }

    </div>
  </div>
  <!-- Message box -->
  <app-text-message-box-select
  placeholder="Escribe aqui lo que desees..."
  (onMessage)="handleMessageStreamWithSelect($event)"
  [options]="languages()"
  >
  </app-text-message-box-select>
</div>
